Proyecto_coder.json
{
  "name": "Proyecto coder",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "190988bd-7efd-4d5b-9e1d-2c400d66dda0",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a5c2ac32-302b-44ec-93eb-17625c568f8e",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -608,
        -40
      ],
      "id": "e9929de2-d826-4002-8650-08ce06c0d4b7",
      "name": "Validar datos"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appef3Z3ZCbZZAtcV",
          "mode": "list",
          "cachedResultName": "Sistema de soporte",
          "cachedResultUrl": "https://airtable.com/appef3Z3ZCbZZAtcV"
        },
        "table": {
          "__rl": true,
          "value": "tbltYUu6bkuXfKsiN",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://airtable.com/appef3Z3ZCbZZAtcV/tbltYUu6bkuXfKsiN"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.body.nombre }}",
            "Email": "={{ $json.body.email }}",
            "Asunto": "={{ $json.body.asunto }}",
            "Descripcion": "={{ $json.body.descripcion }}",
            "Estado": "Pendiente"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Bug",
                  "value": "Bug"
                },
                {
                  "name": "Consulta",
                  "value": "Consulta"
                },
                {
                  "name": "Urgente",
                  "value": "Urgente"
                },
                {
                  "name": "Facturacion",
                  "value": "Facturacion"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Alta",
                  "value": "Alta"
                },
                {
                  "name": "Media",
                  "value": "Media"
                },
                {
                  "name": "Baja",
                  "value": "Baja"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobacion",
                  "value": "Esperando Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Auto-respondido",
                  "value": "Auto-respondido"
                },
                {
                  "name": "Error - Revision Manual",
                  "value": "Error - Revision Manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Resumen IA",
              "displayName": "Resumen IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Respuesta sugerida",
              "displayName": "Respuesta sugerida",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agente",
              "displayName": "Agente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -384,
        -112
      ],
      "id": "fc8ed8d8-9bf2-4546-96f6-dd5879135e29",
      "name": "Guardar Ticket",
      "credentials": {
        "airtableTokenApi": {
          "id": "lT70A9s9IEIKvgQq",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -832,
        -40
      ],
      "id": "e633af44-f0dc-42ef-860b-5dca4dd8c72c",
      "name": "Recibir Ticket",
      "webhookId": "a8230f14-6db6-4c47-981f-a4323a239eb2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-6"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente de soporte técnico. Analizá el siguiente ticket y respondé ÚNICAMENTE con un JSON con este formato exacto, sin texto adicional:\n\n{\n  \"categoria\": \"Bug|Consulta|Urgente|Facturacion\",\n  \"prioridad\": \"Alta|Media|Baja\",\n  \"resumen\": \"resumen de una línea\",\n  \"respuesta\": \"respuesta profesional al cliente\"\n}\n\nTicket:\nNombre: {{ $('Recibir Ticket').item.json.body.nombre }}\nAsunto: {{ $('Recibir Ticket').item.json.body.asunto }}\nDescripcion: {{ $('Recibir Ticket').item.json.body.descripcion }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -160,
        -112
      ],
      "id": "985c7f93-8014-411b-ab7f-79286243502d",
      "name": "Analizar con Claude",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "anthropicApi": {
          "id": "WrVEQAVhdZlGuV15",
          "name": "Anthropic account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appef3Z3ZCbZZAtcV",
          "mode": "list",
          "cachedResultName": "Sistema de soporte",
          "cachedResultUrl": "https://airtable.com/appef3Z3ZCbZZAtcV"
        },
        "table": {
          "__rl": true,
          "value": "tbltYUu6bkuXfKsiN",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://airtable.com/appef3Z3ZCbZZAtcV/tbltYUu6bkuXfKsiN"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Guardar Ticket').item.json.id }}",
            "Estado": "Procesado por IA",
            "Categoria": "={{ JSON.parse($('Analizar con Claude').item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim()).categoria }}",
            "Prioridad": "={{ JSON.parse($('Analizar con Claude').item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim()).prioridad }}",
            "Resumen IA": "={{ JSON.parse($('Analizar con Claude').item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim()).resumen }}",
            "Respuesta sugerida": "={{ JSON.parse($('Analizar con Claude').item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim()).respuesta }}\nLa forma más fácil de evitar esto a futuro es mejorar el prompt de Claude. Avisame cuando hayas actualizado las expresiones y probamos de nuevo."
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Bug",
                  "value": "Bug"
                },
                {
                  "name": "Consulta",
                  "value": "Consulta"
                },
                {
                  "name": "Urgente",
                  "value": "Urgente"
                },
                {
                  "name": "Facturacion",
                  "value": "Facturacion"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Alta",
                  "value": "Alta"
                },
                {
                  "name": "Media",
                  "value": "Media"
                },
                {
                  "name": "Baja",
                  "value": "Baja"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobacion",
                  "value": "Esperando Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Auto-respondido",
                  "value": "Auto-respondido"
                },
                {
                  "name": "Error - Revision Manual",
                  "value": "Error - Revision Manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Resumen IA",
              "displayName": "Resumen IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Respuesta sugerida",
              "displayName": "Respuesta sugerida",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agente",
              "displayName": "Agente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        192,
        -240
      ],
      "id": "402659be-00d5-47e0-a97b-d70fdc115856",
      "name": "Actualizar Ticket IA",
      "credentials": {
        "airtableTokenApi": {
          "id": "lT70A9s9IEIKvgQq",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appef3Z3ZCbZZAtcV",
          "mode": "list",
          "cachedResultName": "Sistema de soporte",
          "cachedResultUrl": "https://airtable.com/appef3Z3ZCbZZAtcV"
        },
        "table": {
          "__rl": true,
          "value": "tbltYUu6bkuXfKsiN",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://airtable.com/appef3Z3ZCbZZAtcV/tbltYUu6bkuXfKsiN"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Guardar Ticket').item.json.id }}",
            "Estado": "Esperando Aprobacion"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Bug",
                  "value": "Bug"
                },
                {
                  "name": "Consulta",
                  "value": "Consulta"
                },
                {
                  "name": "Urgente",
                  "value": "Urgente"
                },
                {
                  "name": "Facturacion",
                  "value": "Facturacion"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Alta",
                  "value": "Alta"
                },
                {
                  "name": "Media",
                  "value": "Media"
                },
                {
                  "name": "Baja",
                  "value": "Baja"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobacion",
                  "value": "Esperando Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Auto-respondido",
                  "value": "Auto-respondido"
                },
                {
                  "name": "Error - Revision Manual",
                  "value": "Error - Revision Manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Resumen IA",
              "displayName": "Resumen IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Respuesta sugerida",
              "displayName": "Respuesta sugerida",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agente",
              "displayName": "Agente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        640,
        -416
      ],
      "id": "2db4b23f-fe78-48f0-b32f-abfbea5fd896",
      "name": "Estado Esperando Aprobacion",
      "credentials": {
        "airtableTokenApi": {
          "id": "lT70A9s9IEIKvgQq",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "TU_SLACK_WEBHOOK_URL_AQUI",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚨 *Ticket requiere aprobación*\n\n*Nombre:* {{ $('Recibir Ticket').item.json.body.nombre }}\n*Email:* {{ $('Recibir Ticket').item.json.body.email }}\n*Asunto:* {{ $('Recibir Ticket').item.json.body.asunto }}\n*Prioridad:* {{ JSON.parse($('Analizar con Claude').item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim()).prioridad }}\n*Resumen:* {{ JSON.parse($('Analizar con Claude').item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim()).resumen }}\n\n*Respuesta sugerida por IA:*\n{{ JSON.parse($('Analizar con Claude').item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim()).respuesta }}\n\n*Para aprobar hacé clic acá:*\n{{ $execution.resumeUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        -416
      ],
      "id": "14022fe6-dddd-4bf4-90da-66659d4c8bee",
      "name": "Notificar Slack"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        -416
      ],
      "id": "d6ebbd3b-8547-4682-8cca-1ea7be0ff138",
      "name": "Esperar Aprobacion",
      "webhookId": "c0e2f157-4d57-4825-998d-aeb6dc25e3da"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Recibir Ticket').item.json.body.email }}",
        "subject": "=Re: {{ $('Recibir Ticket').item.json.body.asunto }}",
        "message": "={{ JSON.parse($('Analizar con Claude').item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim()).respuesta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        -416
      ],
      "id": "def10dc4-30a4-47ca-b701-7116256d2cf0",
      "name": "Enviar Respuesta Aprobada",
      "webhookId": "0a413804-d953-42e2-9f8b-7d49634c36a1",
      "credentials": {
        "gmailOAuth2": {
          "id": "hwJR7VAbHtQDPj6c",
          "name": "JP OAuth"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appef3Z3ZCbZZAtcV",
          "mode": "list",
          "cachedResultName": "Sistema de soporte",
          "cachedResultUrl": "https://airtable.com/appef3Z3ZCbZZAtcV"
        },
        "table": {
          "__rl": true,
          "value": "tbltYUu6bkuXfKsiN",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://airtable.com/appef3Z3ZCbZZAtcV/tbltYUu6bkuXfKsiN"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Guardar Ticket').item.json.id }}",
            "Estado": "Aprobado"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Bug",
                  "value": "Bug"
                },
                {
                  "name": "Consulta",
                  "value": "Consulta"
                },
                {
                  "name": "Urgente",
                  "value": "Urgente"
                },
                {
                  "name": "Facturacion",
                  "value": "Facturacion"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Alta",
                  "value": "Alta"
                },
                {
                  "name": "Media",
                  "value": "Media"
                },
                {
                  "name": "Baja",
                  "value": "Baja"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobacion",
                  "value": "Esperando Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Auto-respondido",
                  "value": "Auto-respondido"
                },
                {
                  "name": "Error - Revision Manual",
                  "value": "Error - Revision Manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Resumen IA",
              "displayName": "Resumen IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Respuesta sugerida",
              "displayName": "Respuesta sugerida",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agente",
              "displayName": "Agente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1536,
        -416
      ],
      "id": "af34d929-d308-4bfd-a886-6c2044a3db0c",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "lT70A9s9IEIKvgQq",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Recibir Ticket').item.json.body.email }}",
        "subject": "=Re: {{ $('Recibir Ticket').item.json.body.asunto }}",
        "message": "={{ JSON.parse($('Analizar con Claude').item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim()).respuesta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        -224
      ],
      "id": "0036c207-5ef1-4efd-b55d-6481927d2bf6",
      "name": "Auto Respuesta Gmail",
      "webhookId": "4793bf83-a157-4411-a83d-1cf0328a8e77",
      "credentials": {
        "gmailOAuth2": {
          "id": "hwJR7VAbHtQDPj6c",
          "name": "JP OAuth"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appef3Z3ZCbZZAtcV",
          "mode": "list",
          "cachedResultName": "Sistema de soporte",
          "cachedResultUrl": "https://airtable.com/appef3Z3ZCbZZAtcV"
        },
        "table": {
          "__rl": true,
          "value": "tbltYUu6bkuXfKsiN",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://airtable.com/appef3Z3ZCbZZAtcV/tbltYUu6bkuXfKsiN"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Guardar Ticket').item.json.id }}",
            "Estado": "Auto-respondido"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Bug",
                  "value": "Bug"
                },
                {
                  "name": "Consulta",
                  "value": "Consulta"
                },
                {
                  "name": "Urgente",
                  "value": "Urgente"
                },
                {
                  "name": "Facturacion",
                  "value": "Facturacion"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Alta",
                  "value": "Alta"
                },
                {
                  "name": "Media",
                  "value": "Media"
                },
                {
                  "name": "Baja",
                  "value": "Baja"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobacion",
                  "value": "Esperando Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Auto-respondido",
                  "value": "Auto-respondido"
                },
                {
                  "name": "Error - Revision Manual",
                  "value": "Error - Revision Manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Resumen IA",
              "displayName": "Resumen IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Respuesta sugerida",
              "displayName": "Respuesta sugerida",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agente",
              "displayName": "Agente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        864,
        -224
      ],
      "id": "4282b89f-966a-4c5f-b612-a7334d569b21",
      "name": "Estado Auto-respondido",
      "credentials": {
        "airtableTokenApi": {
          "id": "lT70A9s9IEIKvgQq",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "TU_SLACK_WEBHOOK_URL_AQUI",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=⚠️ *Error en el flujo de soporte*\n\n*Nombre:* {{ $('Recibir Ticket').item.json.body.nombre }}\n*Email:* {{ $('Recibir Ticket').item.json.body.email }}\n*Asunto:* {{ $('Recibir Ticket').item.json.body.asunto }}\n\nEl ticket no pudo ser procesado correctamente y requiere revisión manual."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -16
      ],
      "id": "f0a79e3f-30d3-4d7a-a70c-4f268a49bd26",
      "name": "Alerta Error Slack"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($('Analizar con Claude').item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim()).prioridad }}",
                    "rightValue": "Alta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e8719b9e-3b21-47b1-bb70-d7b3822b6738"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Urgente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5f619674-ce14-48b3-8970-d6e808157e1e",
                    "leftValue": "={{ JSON.parse($('Analizar con Claude').item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim()).prioridad }}",
                    "rightValue": "Media",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Auto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ea53ca6a-e1ee-46f3-bf94-9406db2585f4",
                    "leftValue": "={{ JSON.parse($('Analizar con Claude').item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim()).prioridad }}",
                    "rightValue": "Baja",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Auto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        -272
      ],
      "id": "ac2255c0-3e95-458b-b3ea-fcb565204681",
      "name": "Router"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appef3Z3ZCbZZAtcV",
          "mode": "list",
          "cachedResultName": "Sistema de soporte",
          "cachedResultUrl": "https://airtable.com/appef3Z3ZCbZZAtcV"
        },
        "table": {
          "__rl": true,
          "value": "tbltYUu6bkuXfKsiN",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://airtable.com/appef3Z3ZCbZZAtcV/tbltYUu6bkuXfKsiN"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Guardar Ticket').item.json.id }}",
            "Estado": "Error - Revision Manual"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Bug",
                  "value": "Bug"
                },
                {
                  "name": "Consulta",
                  "value": "Consulta"
                },
                {
                  "name": "Urgente",
                  "value": "Urgente"
                },
                {
                  "name": "Facturacion",
                  "value": "Facturacion"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Alta",
                  "value": "Alta"
                },
                {
                  "name": "Media",
                  "value": "Media"
                },
                {
                  "name": "Baja",
                  "value": "Baja"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobacion",
                  "value": "Esperando Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Auto-respondido",
                  "value": "Auto-respondido"
                },
                {
                  "name": "Error - Revision Manual",
                  "value": "Error - Revision Manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Resumen IA",
              "displayName": "Resumen IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Respuesta sugerida",
              "displayName": "Respuesta sugerida",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agente",
              "displayName": "Agente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        336,
        80
      ],
      "id": "481027ed-5049-4fb2-b99d-5a0ee8fa22b7",
      "name": "Estado Error Claude",
      "credentials": {
        "airtableTokenApi": {
          "id": "lT70A9s9IEIKvgQq",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Validar datos": {
      "main": [
        [
          {
            "node": "Guardar Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Error Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Ticket": {
      "main": [
        [
          {
            "node": "Analizar con Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recibir Ticket": {
      "main": [
        [
          {
            "node": "Validar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar con Claude": {
      "main": [
        [
          {
            "node": "Actualizar Ticket IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Estado Error Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Ticket IA": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado Esperando Aprobacion": {
      "main": [
        [
          {
            "node": "Notificar Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Slack": {
      "main": [
        [
          {
            "node": "Esperar Aprobacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar Aprobacion": {
      "main": [
        [
          {
            "node": "Enviar Respuesta Aprobada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta Aprobada": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Respuesta Gmail": {
      "main": [
        [
          {
            "node": "Estado Auto-respondido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Estado Esperando Aprobacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto Respuesta Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto Respuesta Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Error Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado Error Claude": {
      "main": [
        [
          {
            "node": "Alerta Error Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "42f10c87-a48b-4b0d-8576-db785365f172",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae8ea7885bbd440d4a6afe1350d9d33a327b971bacebc4a70a9dcbebf760afaf"
  },
  "id": "e2kFcEAhWKt9klpe",
  "tags": []
}